@import "tailwindcss";

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background: #06053a;
    color: #ffffff;
}

::selection {
    background: #edeafb;
    color: #06053a;
}

.gradient-text {
    background: linear-gradient(90deg, #ffffff, #edeafb, #9f8cff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* .input-style {
    width: 100%;
    border-radius: 1rem;
    border: 1px solid rgba(6, 5, 58, 0.15);
    background: white;
    padding: 1rem 1.25rem;
    color: #06053a;
    outline: none;
    font-size: 14px;
    font-weight: 500;
}

.input-style:focus {
    border-color: #06053a;
    box-shadow: 0 0 0 4px rgba(6, 5, 58, 0.08);
}

.input-style::placeholder {
    color: rgba(6, 5, 58, 0.45);
} */

.input-style {
    width: 100%;
    height: 58px;
    border: 1px solid rgba(6, 5, 58, 0.12);
    border-radius: 18px;
    background: #ffffff;
    padding: 0 18px;
    color: #06053A;
    font-size: 15px;
    font-weight: 500;
    outline: none;
    transition: all 0.3s ease;
}

.input-style:focus {
    border-color: #06053A;
    box-shadow: 0 0 0 4px rgba(6, 5, 58, 0.06);
}

.input-style::placeholder {
    color: rgba(6, 5, 58, 0.45);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
}